@model Yamool.Nop.Plugin.ThemeSwitcha.Models.ThemeSwitchaListModel
@inject Nop.Core.IWebHelper webHelper

@{
    var returnUrl = webHelper.GetRawUrl(Context.Request);
    Html.AppendCssFileParts("~/Plugins/Yamool.Plugin.ThemeSwitcha/Content/styles.css", excludeFromBundle: true);
}

<div class="theme-switcha">
    <div class="theme-switcha__selector">
        <span class="theme-switcha__theme">@(Model.ActiveTheme.FriendlyName)</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
        <div class="theme-switcha__themes">
            @foreach (var theme in Model.Themes)
            {
                <div class="theme-switcha-card @(theme.SystemName == Model.ActiveTheme.SystemName?"active":null)">
                    <a asp-controller="ThemeSwitcha" asp-action="Switch" asp-route-theme="@theme.SystemName" asp-route-returnUrl="@returnUrl">
                        <div class="theme-switcha-card__image">
                            <img src="@Url.Content(theme.PreviewImageUrl)" />
                        </div>
                        <div class="theme-switcha-card__title">
                            @theme.FriendlyName <svg class="icon-check-svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"></path></svg>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>